@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Are you sure you want to delete @Model.Name?</h2>

@using (Html.BeginForm())
{
  <button type="submit" value="Delete">Confirm</button>
}
@Html.ActionLink("Home", "Index")