@{
  Layout = "_Layout";
}

<div class="main">
  <div id="splash">
    <h3>Welcome to Best Restaurants!</h3>
    <p>Inside, you'll find the best restaurants near you, created and submitted by people like you.</p>
  </div>

  <h1 id="get-started">@Html.ActionLink("Get started", "Index", "Cuisines")</h1>

</div>