@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine;

<h1>@Html.DisplayFor(model => model.Name)</h1>

<ul>
  @foreach (Restaurant restaurant in @Model.Restaurants)
  {
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.Id })</li>
  }
</ul>
