<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Best Restaurants</title>
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Cantarell&family=Oleo+Script:wght@700&family=Spinnaker&display=swap"
    rel="stylesheet">
</head>

<header>
  <h1>Best Restaurants</h1>
</header>

<body>
  @RenderBody()
</body>

<footer>
  @await Html.PartialAsync("Footer")
</footer>

</html>