<div id="footer">
  @Html.ActionLink("Return home", "Index", "Home")
  @Html.ActionLink("See all restaurants", "Index", "Restaurants")
  @Html.ActionLink("See all cuisines", "Index", "Cuisines")
</div>